<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GoldOctopus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="JsonConnection" connectionString="Uri=C:\00-Projects\HasSarraf\HasSarraf\GoldOctopus\bin\Debug\Assets\Config\urun.json" providerName="JsonSourceProvider" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationRoot" value="C:\inetpub\wwwroot\dashboard" />
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/GoldOctopusTheme</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="WXI">
              <SvgPalette Name="GoldOctopusTheme">
                <SvgColor Name="Background 200" Value="255,255,255" />
                <SvgColor Name="Background 100" Value="232,232,245" />
                <SvgColor Name="Background 0" Value="240,240,240" />
                <SvgColor Name="Background -100" Value="224,224,224" />
                <SvgColor Name="Background -200" Value="234,234,234" />
                <SvgColor Name="Foreground 100" Value="36,36,36" />
                <SvgColor Name="Foreground 50" Value="115,115,115" />
                <SvgColor Name="Foreground 25" Value="189,189,189" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="255,255,255" />
                <SvgColor Name="Edit Background -50" Value="244,244,244" />
                <SvgColor Name="Edit Background -100" Value="199,197,231" />
                <SvgColor Name="Edit Background -200" Value="199,197,231" />
                <SvgColor Name="Edit Background -300" Value="225,225,225" />
                <SvgColor Name="Edit Foreground 100" Value="38,38,38" />
                <SvgColor Name="Edit Foreground 50" Value="115,115,115" />
                <SvgColor Name="Edit Foreground 25" Value="189,189,189" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="232,232,245" />
                <SvgColor Name="Line 50" Value="199,197,231" />
                <SvgColor Name="Line 25" Value="162,160,215" />
                <SvgColor Name="Line Gradient 100" Value="199,197,231">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#B0B0B0" />
                    <stop offset="10%" stop-color="#E1E1E1" />
                    <stop offset="100%" stop-color="#E1E1E1" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="250,250,250">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#D1D1D1" />
                    <stop offset="10%" stop-color="#E1E1E1" />
                    <stop offset="100%" stop-color="#E1E1E1" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="126,122,199" />
                <SvgColor Name="Primary Background 0" Value="101,93,187" />
                <SvgColor Name="Primary Background -100" Value="78,64,174" />
                <SvgColor Name="Primary Background -200" Value="72,56,164" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="199,197,231" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="191,172,226" />
                <SvgColor Name="Secondary Background -100" Value="166,137,216" />
                <SvgColor Name="Secondary Background -200" Value="146,110,208" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="240,235,248" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="212,35,20" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="222,108,0" />
                <SvgColor Name="Black" Value="58,58,56" />
                <SvgColor Name="Gray" Value="189,189,189" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GoldOctopus.Properties.Settings>
      <setting name="TabelaFiyat" serializeAs="String">
        <value />
      </setting>
      <setting name="TabelaFiyatZamani" serializeAs="String">
        <value />
      </setting>
    </GoldOctopus.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>