@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
/* Used Google Fonts */
font-family: 'Roboto',
sans-serif;
font-family: 'Mansalva',
cursive;
font-family: 'Lato',
sans-serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Oswald',
sans-serif;
font-family: 'Lora',
serif;
font-family: 'Muli',
sans-serif;
font-family: 'Lobster',
cursive;
font-family: 'Cinzel',
serif;
font-family: 'Bangers',
cursive;

/* Used Google Fonts */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 0px;
    margin: 0px;


}

.tablo {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-spacing: 0;
}

/* Brand Name Styles */


.sirket-adi-row {
    background: #fff;
    text-align: center;
    border: none; 
    border: 1px solid red;

}

.sirket-adi {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.sirket-adi hr {
    height: 1px;
    margin-top: -10px;
    color: #34495e;
}

.sirket-adi span {
    background: #fff;
    color: #34495e;
    display: inline-block;
    line-height: 1.8;
    padding: 0;
    margin-left: -5px;
    margin-top: -12px;
    font-size: 14px;
    height: 40px;

}

.sirket-adi .line1 {
    letter-spacing: 9px;
    font-size: 26px;
    height: 25px;
}

.sirket-adi .line2 {
    letter-spacing: 7px;
    margin-top: -5px;
    border-bottom: solid 1px #34495e;
    height: 26px;
    margin-bottom: 4px;
}

.sirket-adi .line3 {
    letter-spacing: 2px;
    font-size: 10px;
    line-height: 10px;
    height: 10px;
    margin-bottom: 5px;
}

.sirket-adi h3 {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34495e;
    font-weight: 300;
    line-height: 1.3;
    font-weight: bold;
    margin: 0px;
}

.kayan-yazi {
    font-size: 14px;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: #34495e;
    font-weight: 400;
    color: #fff;
    padding-left: 3px;
    line-height: 26px;
    height: 24px;
    font-weight: bold;
    margin: -1px;  
}
 
.alerts-border {
    border: 1px #34495e dashed;    
    animation: blink 1s;
    animation-iteration-count:infinite;
}

@keyframes blink { 50% { border-color:#fff ; }  }

.urun-label {
    width: 100%;
    font-size: 90%;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 4px;
    font-weight: bold;
}

.alis-label {
    width: 70px;
    max-width: 70px;
    text-align: right;
    padding-right: 8px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: yellowgreen;
}

.satis-label {
    width: 70px;
    max-width: 70px;
    text-align: right;
    padding-right: 4px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.footer-label {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: maroon;
    text-align: center;
    border-top: solid 1px white;
}

.urun-deger {

    font-size: 90%;
    white-space: nowrap;
    border-top: solid 1px #D4AF37;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    padding-left: 4px;

}

.alis-deger {
    width: 70px;
    text-align: right;
    padding-right: 8px;
    white-space: nowrap;
    border-top: solid 1px #D4AF37;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: bold;
    color: yellowgreen;

}



.oddRow {
    background-color: #444;
}

.satis-deger {
    width: 70px;
    text-align: right;
    padding-right: 4px;
    white-space: nowrap;
    border-top: solid 1px #D4AF37;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    /* Beyaz gölge */
}