@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
/* Used Google Fonts */
font-family: 'Roboto',
sans-serif;
font-family: 'Mansalva',
cursive;
font-family: 'Lato',
sans-serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Oswald',
sans-serif;
font-family: 'Lora',
serif;
font-family: 'Muli',
sans-serif;
font-family: 'Lobster',
cursive;
font-family: 'Cinzel',
serif;
font-family: 'Bangers',
cursive;

/* Used Google Fonts */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 0px;
    margin: 0px;


}

.tablo {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-spacing: 0;
}

/* Brand Name Styles */


.sirket-adi-row {
    height: 65px;

}

.sirket-adi h3 {
    height: 65px;
    width: 100%;
    background: #fff;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D4AF37;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    margin: 0px;
}

.kayan-yazi {
    font-size: 14px;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: #34495e;
    font-weight: 400;
    color: #fff;
    padding-left: 3px;
    line-height: 26px;
    height: 24px;
    font-weight: bold;
}

.sirket-adi span {
    background: #D4AF37;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
    padding: 0 16px;
    margin-left: 5px;
}


.gorsel-yazi-row {
    height: 20px;
    vertical-align: middle;
}

.gorsel-yazi {
    margin-top: 3px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #D4AF37;
    letter-spacing: 2px;
    padding: 0px 0px;

    font-style: italic;
}


.urun-label {
    width: 100%;
    font-size: 90%;
    white-space: nowrap;


    vertical-align: middle;
    padding-left: 4px;
    font-weight: bold;
}

.alis-label {
    width: 70px;
    max-width: 70px;
    text-align: right;
    padding-right: 8px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: yellowgreen;
}

.satis-label {
    width: 70px;
    max-width: 70px;
    text-align: right;
    padding-right: 4px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.footer-label {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: maroon;
    text-align: center;
    border-top: solid 1px white;
}

.urun-deger {

    font-size: 90%;
    white-space: nowrap;
    border-top: solid 1px #D4AF37;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    padding-left: 4px;

}

.alis-deger {
    width: 70px;
    text-align: right;
    padding-right: 8px;
    white-space: nowrap;
    border-top: solid 1px #D4AF37;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: bold;
    color: yellowgreen;

}



.oddRow {
    background-color: #444;
}

.satis-deger {
    width: 70px;
    text-align: right;
    padding-right: 4px;
    white-space: nowrap;
    border-top: solid 1px #D4AF37;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    /* Beyaz gölge */
}