<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GoldOctopusDBEntities" connectionString="metadata=res://*/Database.GoldOctopusModel.csdl|res://*/Database.GoldOctopusModel.ssdl|res://*/Database.GoldOctopusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=yagbasanDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>