<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./assets/custom2.css" id="app-style" rel="stylesheet" type="text/css">

<body>


    <table class="tablo">

        <tr>
            <td class="sirket-adi-row  alerts-border" colspan="3">
                <div class="sirket-adi">
                    <h3 class="line1">HAS</h3>
                    <h3 class="line2">SARRAF</h3>
                    <h3 class="line3">KUYUMCULUK & MÜCEVHERAT</h3>
                
                </div>
                <div class="kayan-yazi">
                    <marquee scrollamount="1">PIRLANTALARDA % 5 İNDİRİM - TAKI SETLERİNDE KAMPANYA - GÜMÜŞ ALINIR-SATILIR</marquee>
                </div>
                
            </td>
        </tr>



        <tr>
            <td class="urun-label"> </td>
            <td class="alis-label"> ALIŞ</td>
            <td class="satis-label"> SATIŞ </td>
        </tr>

        <tr class="evenRow">
            <td class="urun-deger"> 24 A. GRAM ALTIN</td>
            <td class="alis-deger"> 3.336 </td>
            <td class="satis-deger"> 3.359 </td>
        </tr>

        <tr class="oddRow">
            <td class="urun-deger">22 A. ALTIN</td>
            <td class="alis-deger"> 3.058 </td>
            <td class="satis-deger"> 3.117 </td>
        </tr>

        <tr class="evenRow">
            <td class="urun-deger">ATA LİRA</td>
            <td class="alis-deger"> 22.340 </td>
            <td class="satis-deger"> 22.437 </td>
        </tr>

        <tr class="oddRow">
            <td class="urun-deger">YENİ TARİH ZİYNET LİRA</td>
            <td class="alis-deger"> 107.601 </td>
            <td class="satis-deger"> 109.187 </td>
        </tr>

        <tr class="evenRow">
            <td class="urun-deger">ESKİ TARİH ZİYNET LİRA</td>
            <td class="alis-deger"> 107.265 </td>
            <td class="satis-deger"> 108.516 </td>
        </tr>

        <tr class="oddRow">
            <td class="urun-deger">YENİ TARİH YARIM</td>
            <td class="alis-deger"> 10.930</td>
            <td class="satis-deger"> 10.980 </td>
        </tr>
        <tr class="evenRow">
            <td class="urun-deger">ESKİ TARİH YARIM</td>
            <td class="alis-deger"> 10.689 </td>
            <td class="satis-deger"> 10.782 </td>
        </tr>
        <tr class="oddRow">
            <td class="urun-deger">YENİ TARİH ÇEYREK</td>
            <td class="alis-deger"> 5.465 </td>
            <td class="satis-deger"> 5.492 </td>
        </tr>
        <tr class="evenRow">
            <td class="urun-deger">ESKİ TARİH ÇEYREK</td>
            <td class="alis-deger"> 5.361 </td>
            <td class="satis-deger"> 5.398 </td>
        </tr>

        <tr>
            <td colspan="3" class="footer-label">FİYATLARIMIZ KAPALIÇARŞI FİYATLARIDIR</td>
        </tr>

    </table>




</body>

</html>